slang = {
    "КРИНЖ": "Что-то очень странное или стыдное",
    "ЛОЛ": "Что-то смешное",
    "РЖАКА": "Что-то очень смешное",
    "ливнуть": "уйти",
    "нафармить": "накопить или заработать",

}
while True:    
    word = input("Введите непонятное слово")
    if word in slang.keys():
        print(slang[word])
    else:
        print('Такого слова нет')
